<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheHealtood</title>
    <link rel="icon" href=" /Images/icons Port.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Producs/Edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/AllProducts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/GetCarrito.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheHealtood.styles.css" asp-append-version="true" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success-subtle border-bottom box-shadow mb-3 fs-3"
            style="height: 90px;">
            <div class="container-fluid ">
                <a class="navbar-brand text-light fs-3" asp-area="" asp-controller="Home"
                    asp-action="Index">TheHealtood</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Products"
                                asp-action="Index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Ingredients"
                                asp-action="Index">Ingredientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Roles"
                                asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Users"
                                asp-action="Index">Usuarios</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    <div class="nav-item" style="margin-right: 15px;">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="GetCarrito"><img
                                src="\Images\carrito.png" alt="" style="width: 30px;  "></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-footer">
            <section id="footer-red_social">
                <h2>The Healtood</h2>
                <div id="link-red_social">
                    <a href="https://es-es.facebook.com/" target="_blank"><img src="\Images\facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="\Images\instagram.png" alt=""></a>
                    <a href="#" target="_blank"><img src="\Images\whatsapp.png" alt=""></a>
                    <a href="https://twitter.com/" target="_blank"><img src="\Images\twitter.png" alt=""></a>
                </div>
            </section>
            <section id="link-contacto">
                <h2 class="text-muted">Contacto</h2>
                <ul>
                    <li><a href="">Contacta con nosotros</a></li>

                </ul>
            </section>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Home.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
