@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1>The Healtood</h1>
    </div>
    <div>
        <p>Somos una empresa que nos especializamos en hacer comidas para toda la semana para las personas que
            sus tiempos son muy acotados y no tienen la posibilidad de comer sano
        </p>
        <p>Entonces que estas esperando! Tenemos una gran variadad para todos los gustos</p>
    </div>
</div>
