@using TheHealtood.ViewModels;
@model ProductsDetailViewModel

<div class="container" style="width: 600px;">
    <form method="post" asp-action="Edit">
        <div>
            <input type="text" asp-for="Id" hidden >
        </div>
        <div>
            <h2 class="text-center">@Model.Name</h2>
        </div>
        <div>
            <label asp-for="Name" class="form-label"></label>
            <input type="text" asp-for="Name" class="form-control">
        </div>
        <div>
            <label asp-for="Price" class="form-label"></label>
            <input type="text" asp-for="Price" class="form-control">
        </div>
        <div style="margin-top: 15px;" class="text-center">
            <a asp-action="Index" class="btn btn-info">Volver</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>